@layer primeng,reset ;

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

/* Reset CSS */
@layer reset {
    .p-card{
        background-color: #dcebfd;
        border: 1px;
        margin: 5px;
        width: 100%;
    }
    .p-tag-value  {
        background: transparent;
        color: #000000;
        font-size: 0.75rem;
        font-weight: 700;
        padding: 0.25rem 0.4rem;
        border-radius: 6px;
    }

    .p-tag{
        margin: 2%;
    }

    .Crab{
        .p-tag {
            background: saddlebrown;
        }
    }

    .Crane{
        .p-tag {
            background: aqua;
        }
    }

    .Dragon{
        .p-tag {
            background: green;

        }

    }

    .Lion{
        .p-tag {
            background: sienna;
        }
    }

    
    .Mantis{
        .p-tag {
            background: greenyellow;
        }
    }


    .Phoenix{
        .p-tag {
            background: orangered;

        }
    }
    
    .Scorpion{
        .p-tag {
            background: red;

        }
    }    
    .Spider{
        .p-tag {
            background: grey;

        }
    }
        
    .Unicorn{
        .p-tag {
            background: purple;

        }
    }

    .p-button{
        margin:1px;
        background-color: darkgray;
        border: none;
    }
    .p-button:hover{
        background-color: grey;
        cursor: pointer;
    }

    .p-chip{
        margin:1px;
        background-color: darkgray;
        border: none;
    }
    .p-chip:hover{
        background-color: grey;
        cursor: pointer;
    }
}

.anchors{
    display: inline-flex;
}

table { 
    width: 100%;
}

table .card-content {
    width: 75%;
    max-width: 75%;
    min-width: 75%;
    padding: 1%;
}

table .card-links {
    width: 25%;
    max-width: 25%;
    min-width: 25%;
    border-left-color: #6b7280;
    border-left-width: thin;
    border-left-style: solid;
}
 .p-card-links {
    font-weight: 400;
    margin-bottom: 0.5rem;
    color: #6b7280;
    margin-left: 5%;
}
